[submodule "LDPC-codes"]
	path = LDPC-codes
	url = https://github.com/shubhamchandak94/LDPC-codes/
[submodule "python-bchlib"]
	path = python-bchlib
	url = https://github.com/shubhamchandak94/python-bchlib.git
[submodule "util/analysis/python-libraptorq"]
	path = util/analysis/python-libraptorq
	url = https://github.com/shubhamchandak94/python-libraptorq
